.interface,
.application {
  width: 100%;
  height: 100%;
  padding: 20px 0 35px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}

.application {
  z-index: 20;
  overflow: hidden;
}

.application>* {
  overflow: scroll;
}