@import url("variable.css");
@import url("animation.css");
@import url("font-face.css");
@import url("util.css");
@import url("interfaces.css");
@import url("widget.css");
@import url("notification.css");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'delius', 'Times New Roman', Times, serif;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#Components-template {
  display: none;
}

html,
body {
  height: 100%;
  width: 100%;
  background: black;
  overflow: hidden;
}

body {
  text-align: center;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  height: 100%;
  padding: 10px 0;
}

.sizeAdjust,
.phone-button,
#manual {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 200px;
  width: 30px;
  padding: 5px 0;
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -1px 3px black;
  z-index: 100;
}

#manual {
  left: 0;
  top: 10%;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  font-size: 1.6em;
  margin: 3px;
}

.sizeAdjust {
  left: 0;
  border-radius: 0 10px 10px 0;
}

.sizeAdjust #phone-scale {
  transform: rotate(-90deg);
  margin: auto;
  width: 200px;
  height: 5px;
  background: #ddd;
  border-radius: 50px;
  -webkit-appearance: none;
  appearance: none;
}

#phone-scale::-webkit-slider-thumb,
#screen-brightness::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0EBCE6;
}

.phone-button {
  flex-direction: column;
  justify-content: space-between;
  right: 0;
  border-radius: 10px 0 0 10px;
}

.phone-button>* {
  color: #0EBCE6;
  font-size: 18px;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-button .power {
  color: red;
}

.phone#phone {
  width: 280px;
  height: 590px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  border-radius: 30px;
  transform: translate(-50%, -50%) scale(0.82);
  padding: 7px 5px 15px;
  overflow: hidden;
  background-color: #000;
  transition: transform 250ms ease-in;
}

.off-screen {
  position: absolute;
  z-index: 49;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: display 500ms ease-in;
}

.front-camera {
  position: absolute;
  left: 7px;
  top: 7px;
  transform: translte(-50%, -50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #000;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-front-camera {
  width: 50%;
  height: 50%;
  background: radial-gradient(#fff, #000);
  border-radius: 50%;
}

.screen#screen {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 23px;
  overflow: hidden;
  background: var(--window-background);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  transition: opacity 750ms linear;
}

#screen.isfullscreen {
  border-radius: 0;
}

.topbar-container {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 48;
  text-align: center;
  transition: top 0.5s ease-out;

}

.topbar {
  background-color: #ffff;
  width: 95%;
  border-radius: 20px 20px 10px 10px;
  margin: 0px auto 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0 0 7px;
}

.topbar-container.topbar-open {
  transition: top 0.5s ease-out, background 0s ease-out 0.5s;
  top: 0;
  background: #0005;
}

.topbar-part1 {
  width: 95%;
  border-bottom: 1px solid #000;
  margin: 0 auto;
  display: flex;
  justify-content: stretch;
  align-items: baseline;
}

.topbar-time {
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 6px;
  margin-left: 23px;
}

.topbar-date {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 12px;
  text-transform: capitalize;
  margin-left: 3px;
}

.topbar-settings {
  flex: 2;
  text-align: right;
  padding-right: 5px;
}

.brightnessAdjust {
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.brightnessAdjust .brightness-icon {
  float: left;
}

.brightnessAdjust input {
  width: 80%;
  height: 3px;
  background: #ddd;
  margin-left: -15px;
  border-radius: 50px;
  -webkit-appearance: none;
  appearance: none;
}

.topbar .settings-options {
  margin: 5px 0;
}

.settings-options .options {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.option {
  display: flex;
  flex-flow: column nowrap;
  width: 21%;
  height: 60px;
  background-color: #fff0;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #999;
}

/*
.option :first-child{
  border-radius: 50%;
  border: 1px solid #000;
  width: 70%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
}
*/
.option-title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  border-top: 1px solid grey;
  line-height: 1.5;
}

.screen .status-bar {
  width: 100%;
  height: 20px;
  text-align: initial;
  margin-top: 0px;
  padding: 2px 7px 0 10%;
  color: #fff;
  position: absolute;
  z-index: 47;
  top: 0;
  left: 0;
  display: none;
  background-color: #0004;
}

.status-bar-items {
  list-style-type: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.status-bar-items li {
  float: right;
  height: 100%;
  margin-left: 4px;
  padding: 0;
}

.status-bar-items span {
  font-size: 13px;
  font-weight: bold;
}

.status-bar .material-icons {
  font-size: 14px;
}

.status-bar .mdi {
  font-size: 16px;
}

.status-bar-battery-level {
  margin-left: 2px;
}

span.status-bar-4g {
  font-size: 6px;
  position: relative;
  top: -10px;
  left: 8px;
  text-transform: uppercase;
}

.mdi.status-bar-wifi {
  display: none;
}

.status-bar-battery::before {
  content: '';
  width: 2px;
  height: 50%;
  display: inline-block;
  background-color: #fff;
  position: absolute;
  left: -3px;
  top: 25%;
}

.status-bar-battery {
  display: block;
  width: 20px;
  height: 55%;
  border: 1px solid white;
  margin: 22% 0 0 3px;
  position: relative;
  padding: 1.5px;
}

.status-bar-battery-value {
  width: 100%;
  height: 100%;
  display: block;
  float: right;
}

.material-icons.status-bar-battery-charge-indicator {
  color: white;
  transform: rotate(90deg);
  position: absolute;
  top: -2px;
  left: 1px;
  font-size: 12px;
  display: none;
}

.online {
  transform: rotate(90deg);
  margin-right: -10px;
}

.material-icons.status-bar-data {
  display: none;
}

li.mbps {
  float: left;
}

.phone-nav-button {
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--translucent-color);
  z-index: 47;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  height: 100%;
  width: 20%;
}

.login-container {
  display: none;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow-y: scroll;
  padding: 30px 0;
  background: #fff url(../assets/images/favicon/favicon.png) center center/contain no-repeat;
  z-index: 101;
  text-align: center;
}

.login-container>* {
  width: 90%;
  max-width: 90%;
  border-radius: 30px;
  box-shadow: 2px 2px 4px #0005,
    -2px -2px 4px #eee;
  padding: 10px;
  background: #fff4;
  margin: 0 auto;
  display: none;
  text-align: center;
}

.login>fieldset,
.phone-account-logged>fieldset {
  border: none;
  width: 100%;
}


fieldset img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: contain;
}

.login-container fieldset fieldset {
  width: 100%;
  margin-top: 7px;
  text-align: center;
}

.login-container fieldset legend {
  text-transform: capitalize;
  font-weight: bold;
  padding: 5px;
}

fieldset input {
  width: 90%;
  padding: 5px;
  margin: 7px;
  border-radius: 10px;
  border: 2px solid blue;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  background: transparent;
}

fieldset.login-btn {
  text-align: center;
}

fieldset.login-btn input {
  width: 45%;
  background-color: lime;
  border-style: outset;
  text-transform: capitalize;
  margin: 5px auto;
}

.account {
  background-color: #f1f1f103;
  padding: 0 5px;
  text-align: left;
  margin: 2px auto;
  width: 95%;
  overflow: hidden;
  background-color: #ff00;
}

.account>* {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.account .user-img {
  float: left;
  height: 100%;
  width: 20%;
  font-size: 40px;
  justify-content: center;
  margin-right: 5px;
}

.account .user-name {
  height: 50%;
  padding-left: 5px;
  font-weight: bold;
  text-transform: capitalize;
}

.user-name::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 1px;
  background-color: #000;
  left: 0px;
}


.account .user-email {
  height: 50%;
  padding: 2px 0 0 5px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  background: #f000;
}