.widget {visibility: visible;}

.widget-time,
.widget-search {
  width: 100%;
  background: #fff0;
  height: 118px;
  margin-bottom: 7px;
}

.widget-time .time {
  height: 70%;
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 10px;
}

.widget-time .date {
  height: 30%;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
}

.widget-time .date,.widget-time .time{
  display: flex;
  align-items: center;
  justify-content: center;
}