<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <!-- Responsive Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="theme-color" content="indigo" />
  <!-- <meta http-equiv="refresh" content="1">-->

  <!-- Page Informations -->
  <meta property="og:title" content="Wilfried-Tech">
  <meta name="author" content="Wilfried-Tech" />
  <meta property="og:image" content="assets/images/favicon/favicon.png">
  <meta property="og:description" content="Wilfried-Tech mets sur pieds la marque d'Android wilfried-Tech , c'est un téléphone virtuel !">
  <meta name="description" content="Wilfried-Tech mets sur pieds la marque d'Android wilfried-Tech , c'est un téléphone virtuel !" />
  <meta name="keywords" content="Wilfried-Tech, Android , Android virtuel, téléphone virtuel" />
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <link rel="icon" type="icon" href="assets/images/favicon/favicon.png">
  <!-- JavaScript -->
  <script src="libs/eruda.min.js"></script>
  <script>
    eruda.init();
    eruda.get().config.set('displaySize', 60);
    eruda.remove('info');
    eruda.remove('sources');
    eruda.remove('snippets');
    eruda.remove('settings');
  </script>
  <script type="text/javascript" src="assets/fonts/icon/icons.js"></script>
  <title>Wilfriedroid</title>
</head>

<body>
  <div class="container">
    <!-- phone tools start -->
    <div id="phone-tools">
      <div class="phone-tool phone-tool-fullscreen" data-state="mdi-arrow-expand-all,mdi-arrow-collapse-all"><span><i class="mdi mdi-arrow-expand-all"></i></span></div>
      <div class="phone-tool"><input class="phone-tool-scale" type="range" value="0.82" min="0.5" max="1.5" step="0.01" /></div>
      <div class="phone-tool phone-tool-volume-up"><span><i class="fa fa-volume-up"></i></span></div>
      <div class="phone-tool phone-tool-volume-down"><span><i class="fa fa-volume-down"></i></span></div>
      <div class="phone-tool phone-tool-power-off"><span><i class="fa fa-power-off"></i></span></div>
      <div class="phone-tool phone-tool-user-guide"><span><i class="fa fa-book"></i></span></div>
      <div class="phone-tool phone-tool-exit"><span><i class="mdi mdi-exit-run"></i></span></div>
    </div>
    <!-- phone tools end-->
    <!-- phone layout start -->
    <div id="phone">
      <!-- phone head start -->
      <div id="phone-head">
        <!-- phone speaker start -->
        <div id="phone-front-speaker"></div>
        <!-- phone speaker end -->
        <!-- front-camera -->
        <div id="front-camera">
          <div class="inner-front-camera"></div>
        </div>
        <!-- front-camera end -->
      </div>
      <!-- phone head end -->
      <!-- screen start -->
      <div id="screen">
        <!-- off screen start -->
        <div id="off-screen"></div>
        <!-- off screen end-->
        <!-- status bar start -->
        <div id="status-bar">
          <div class="status-bar-item status-bar-static">
            <span class="status-bar-time">00:00</span>
          </div>
          <div class="status-bar-item status-bar-static">
            <span class="status-bar-battery">
              <span class="status-bar-battery-value"></span>
              <span class="status-bar-battery-charge material-icons">flash_on</span>
            </span>
          </div>
          <div class="status-bar-item status-bar-static">
            <span class="status-bar-battery-level">100%</span>
          </div>
          <div class="status-bar-item status-bar-static">
            <span class="status-bar-sim-signal">
              <sup><span class="status-bar-signal-type">H</span></sup>
              <span class="fa fa-signal"></span>
            </span>
          </div>
          <div class="status-bar-item status-bar-static">
            <span class="status-bar-network" style="display:none;">
              <i class="material-icons" style="transform:rotate(90deg)">sync_alt</i>
            </span>
          </div>
          <div class="status-bar-item status-bar-static">
            <span class="status-bar-wifi" style="display:none;">
              <i class="mdi mdi-wifi-arrow-up-down"></i>
            </span>
          </div>
          <div class="status-bar-item status-bar-static">
            <span class="status-bar-mbps">0kb/s</span>
          </div>
        </div>
        <!-- status bar end -->

      </div>
      <!-- screen end -->
      <!-- phone bottom nav start -->
      <div id="phone-nav-btn">
        <div class="nav-btn nav-btn-recent"><span><i class="far fa-square"></i></span></div>
        <div class="nav-btn nav-btn-home"><span><i class="far fa-circle"></i></span></div>
        <div class="nav-btn nav-btn-back"><span><i class="fab fa-ic-back"></i></span></div>
      </div>
      <!-- phone bottom nav end -->
    </div>
    <!-- phone layout end-->
  </div>
  <!-- JavaScript -->
  <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
