@import "config";

:host {
  background: $launcher-background;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.container {
  padding-top: $status-bar-height;
  padding-bottom: $bottom-nav-bar-height;
  height: 100%;

  :first-child {
    height: 100%;
  }
}

.statusbar, .bottom-nav {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
}

.bottom-nav {
  top: unset;
  bottom: 0;
}
