<div class="toolbar">
  <button mat-icon-button class="toolbar-btn">
    <ng-icon [svg]="ionBookOutline" size="24"/>
  </button>
  <div class="toolbar-btn size-adjust">
    <mat-slider showTickMarks discrete>
      <input matSliderThumb/>
    </mat-slider>
  </div>
  <button mat-icon-button class="toolbar-btn">
    <ng-icon [svg]="ionVolumeHighOutline"/>
  </button>
  <button mat-icon-button class="toolbar-btn">
    <ng-icon [svg]="ionVolumeLowOutline"/>
  </button>
  <button mat-icon-button class="toolbar-btn">
    <ng-icon [svg]="ionPowerOutline"/>
  </button>
</div>
