$phone-width: 280px;
$phone-height: 590px;
$phone-color: black;
$status-bar-height: 20px;
$bottom-nav-bar-height: 30px;
$control-center-item-icon-size: 40px;
$launcher-background: linear-gradient(to top, #ba28ff, #34b1e9);
$launcher-grid-gap: 0px;
