<div>
  <div class="lockscreen-main">
    <div class="lockscreen-watch">
      <div class="watch-time"></div>
      <div class="watch-date"></div>
    </div>
    <div class="lockscreen-message">
      <div class="swipe-anim"><span><i class="fa fa-angles-up"></i></span></div>
      Glisser pour deverrouiller
    </div>
    <div class="lockscreen-icons">
      <img src="assets/images/phone-dial.png" alt="phone" class="lockscreen-icon phone-call">
      <img src="assets/images/camera.png" alt="phone" class="lockscreen-icon camera">
    </div>
  </div>
  <div class="lockscreen-pin">
    <div class="pin-message blink">
      <div class="pin-message-indication">Utiliser l'empreinte ou le code PIN</div>
      <div class="pin-message-error">
        Votre code a au moins 4 chiffres
      </div>
    </div>
    <div class="pin-input">
      <input type="password" />
    </div>
    <div id="keyboard">
      <div class="key key-1">1</div>
      <div class="key key-2">2</div>
      <div class="key key-3">3</div>
      <div class="key key-4">4</div>
      <div class="key key-5">5</div>
      <div class="key key-6">6</div>
      <div class="key key-7">7</div>
      <div class="key key-8">8</div>
      <div class="key key-9">9</div>
      <div class="key key-del"><span class="material-icons">backspace</span></div>
      <div class="key key-0">0</div>
      <div class="key key-ok">&check;</div>
    </div>
    <div class="emergency">
      appel d'urgence
    </div>
  </div>
</div>