<div>
  <div class="message-main" id="message-main">
    <header>
      <h3 class="title">Message</h3>
      <div class="more"><span class="material-icons"> more_vert</span></div>
    </header>
    <div class="message-list">
    </div>
    <div class="new-msg"><span class="mdi mdi-message-text"></span></div>
  </div>
  <div class="conversation" id="conversation">
    <header>
      <div class="back"><i class="fa fa-arrow-left"></i></div>
      <div class="receiver-info">
        <h3 class="receiver"></h3>
        <h5 class="receiver-online"></h5>
      </div>
      <div class="more"><span class="material-icons"> more_vert</span></div>
    </header>
    <div id="messages-container">
      <div id="messages"></div>
    </div>
    <footer>
      <textarea id="message-input"></textarea>
      <button id="message-send"><span class="material-icons">send</span></button>
    </footer>
  </div>
  <div id="conversationPicker">
    <header>
      <div class="back"><i class="fa fa-arrow-left"></i></div>
      <h3 class="title" style="font-size: 16px;">choisir une conversation</h3>
      <div class="more"><span class="material-icons"> more_vert</span></div>
    </header>
    <div class="message-picker-list">
    </div>
  </div>
</div>
</div>