@import url(../assets/fonts/icon/googlematerialicons.css);
@import url(../assets/fonts/icon/mdi/materialdesignicons.min.css);
@import url(font-face.css);
@import url(variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'delius', 'Times New Roman', Times, serif;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  background: black;
}

body {
  text-align: center;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #fff;
  height: 100%;
  padding: 10px 0;
}

#phone-tools {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 11%;
  background-color: #fff;
  box-shadow: -2px 0 3px #0005;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.phone-tool {
  width: 100%;
  height: 40px;
  font-size: 1.5em;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #34b1e9;
}

.phone-tool .mdi {
  font-size: 1.6em;
}

.phone-tool-power-off {
  color: red;
}

.phone-tool:not(:nth-child(2)):active {
  border-style: inset;
}

.phone-tool:nth-child(2) {
  height: 150px;
}

.phone-tool-scale {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 150px;
  height: 5px;
  border-radius: 20px;
  transform: rotate(-90deg);
  background: #ddd;
}

.phone-tool-scale::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #0ebce6;
}

#phone {
  width: 280px;
  height: 590px;
  position: absolute;
  top: 50%;
  left: 10%;
  margin: 0;
  border-radius: 30px;
  transform: translate(-10%, -50%) scale(0.82);
  padding: 0px 5px;
  overflow: hidden;
  background-color: #000;
  transition: transform 250ms ease-in;
}

#off-screen {
  position: absolute;
  z-index: 49;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: display 500ms ease-in;
}

#phone-head {
  width: 100%;
  height: 30px;
  position: relative;
}

#phone-front-speaker {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 7px;
  border-radius: 20px;
  background-image: repeating-linear-gradient(45deg, #000, #000 2px, #0000 2px, #0000 4px),
  repeating-linear-gradient(-45deg, #000, #000 2px, #0000 2px, #0000 4px);
  background-color: white;
}

#front-camera {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 30px;
}

.inner-front-camera {
  width: 50%;
  height: 50%;
  background: radial-gradient(#fff, #000);
  border-radius: 50%;
}

#screen {
  position: relative;
  width: 100%;
  height: calc(100% - 50px - 30px);
  margin: 0 auto;
  border-radius: 0;
  /*23px;*/
  overflow: hidden;
  background: var(--window-background);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity 750ms linear;
}

#status-bar {
  width: 100%;
  height: 20px;
  text-align: initial;
  margin-top: 0px;
  padding: 0px 4px;
  color: #fff;
  background-color: #0004;
}

.status-bar-item {
  float: right;
  height: 100%;
  margin-left: 4px;
}

.status-bar-item>span:not(.status-bar-battery):not(.status-bar-sim-signal) {
  font-size: 14px;
  font-weight: bold;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.status-bar-item .material-icons {
  font-size: 14px;
}

.status-bar-item .mdi {
  font-size: 16px;
}

.status-bar-item svg {
  font-size: 14px;
}

.status-bar-battery-level {
  margin-left: 2px;
}

.status-bar-sim-signal svg{
  margin-bottom: 4px;
}

.status-bar-signal-type {
  font-size: 6px;
  position: relative;
  top: -3px;
  left: 7px;
  text-transform: uppercase;
}

.status-bar-battery::before {
  content: '';
  width: 2px;
  height: 50%;
  display: inline-block;
  background-color: #fff;
  position: absolute;
  left: -3px;
  top: 25%;
}

.status-bar-battery {
  display: block;
  width: 20px;
  height: 55%;
  border: 1px solid white;
  margin: 0 0 0 3px;
  position: relative;
  padding: 1px;
  bottom: -25%;
}

.status-bar-battery-value {
  width: 100%;
  height: 100%;
  display: block;
  float: right;
  background-color: #fff;
}

.status-bar-battery-charge.material-icons {
  color: white;
  transform: rotate(90deg);
  position: absolute;
  top: -1.2px;
  left: 2px;
  font-size: 12px;
  display: block;
}

.status-bar-network {
  margin-right: -9px;
  padding-bottom: 2px;
}


span.status-bar-mbps {
  float: left;
  font-weight: normal;
}

#phone-nav-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  background: none;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  width: 20%;
}


